{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if not hashed_url %}
  <h1>Create Hashed URLs </h1>
  <form action="{% url 'get_hashed_url' %}" method="get">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
     {% endif %}
  </form>
  {%if hashed_url %}
    <div style="text-align: center;">
    <h1>Congrats! You have successfully hashed your URL.</h1> <br> </br>
    <span>
        Hashed URL: <strong><a href="http://localhost:8000/{{hashed_url}}">http://localhost:8000/{{hashed_url}}</a> 
    </span>
    </div>
  {% endif %}
{% endblock %}